[submodule "paper_code/bolts"]
	path = paper_code/bolts
	url = git@github.com:iocchi/RLGames
[submodule "paper_code/shields"]
	path = paper_code/shields
	url = git@github.com:safe-rl/safe-rl-shielding
